<label for="c_ampu2">Amputation:</label>
    		      <select name="c_ampu2" id="c_ampu2">
	        		<option value="0">$wi_text_ampu_not</option>
			        <option value="1">$wi_text_ampu_hand</option>
			        <option value="2">$wi_text_ampu_forearm</option>
			        <option value="3">$wi_text_ampu_upper_arm</option>
			        <option value="4">$wi_text_ampu_foot</option>
	    		    <option value="5">$wi_text_ampu_lower_leg</option>
			        <option value="6">$wi_text_ampu_thigh</option>
		          </select>